@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button>Button</button>
    <button>Button</button>
    <div style="display:flex;justify-content:space-between">
        <div style="width:100px; height:100px; background-color:red"></div>
        <div style="width:100px; height:100px; background-color:blue"></div>
    </div>
</div>
