@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<div class="my-table" style="width:100%; border:solid 1px;border-radius:10px; margin-left:10px;">
    <h3 style="margin-left:15px;">สถานะสินค้าคงคลัง</h3>
    <table style="width:100%; border-collapse: collapse;" border="1">
        <thead style="background-color: #f2f2f2;">
            <tr style="text-align:center">
                <th>รหัสสินค้า</th>
                <th>ชื่อสินค้า</th>
                <th>จำนวนคงเหลือ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>A001</td>
                <td>เครื่องซักผ้า</td>
                <td>218.00</td>
            </tr>
            <tr>
                <td>A002</td>
                <td>ทีวี 90 นิ้ว</td>
                <td>208.00</td>
            </tr>
        </tbody>
    </table>

</div>
