
@code {

}
<li><a href="#">ศูนย์กลางการสื่อสาร</a></li>
<li><a href="#">- บันทึกข้อความ</a></li>
<li><a href="#">- รายละเอียดการส่งเอกสาร</a></li>
<li><a href="#">ทรัพยากรการจัดการ</a></li>
<li><a href="#">- รายงานเงินสด</a></li>
<li><a href="#">- กระแสเงินสด (รายละเอียดการฝากและถอน)</a></li>
<li><a href="#">- งบกองทุน</a></li>
<li><a href="#">- รายละเอียดการเพิ่มลดทุน</a></li>
<li><a href="#">- งบกำไรขาดทุนรายเดือน</a></li>
<li><a href="#">- ต้นทุนรายเดือน</a></li>
<li><a href="#">- อายุเจ้าหนี้/ลูกหนี้</a></li>
<li><a href="#">- รายละเอียดอายุลูกหนี้เจ้าหนี้</a></li>
<li><a href="#">- รายงานการจัดการ</a></li>
<li><a href="#">- สรุปบัญชี</a></li>
<li><a href="#">- สรุปยอดซื้อรายเดือน</a></li>
<li><a href="#">- สรุปยอดขายรายเดือน</a></li>
<li><a href="#">- สรุปใบสำคัญจ่าย</a></li>
<li><a href="#">- สรุปใบสำคัญรับ</a></li>
<li><a href="#">- สรุปใบสำคัญบัญชีพัก</a></li>
<li><a href="#">- รายงานที่กำหนดเอง</a></li>

<li><a href="#">สมุดบัญชี</a></li>
<li><a href="#">- สมุดบัญชีแยกประเภท Ⅰ</a></li>
<li><a href="#">- สมุดบัญชีแยกประเภท Ⅱ</a></li>
<li><a href="#">- สมุดบัญชีแยกประเภท Ⅲ</a></li>
<li><a href="#">- สมุดบัญชีแยกประเภท IV</a></li>
<li><a href="#">- รายงานเพิ่มลดบัญชี</a></li>
<li><a href="#">- สมุดซื้อขายสินค้า</a></li>
<li><a href="#">- สมุดบัญชีรายวัน</a></li>
<li><a href="#">- สมุดบัญชีเงินสด</a></li>
<li><a href="#">- งบทดลองรายวัน</a></li>
<li><a href="#">- บัญชีแยกประเภทสกุลเงิน</a></li>
<li><a href="#">- ค้นหาธุรกรรมของ ลูกค้า/ผู้ขาย</a></li>
<li><a href="#">- สมุดลูกค้า/ผู้ขาย I</a></li>
<li><a href="#">- สมุดลูกค้า/ผู้ขาย II</a></li>

<li><a href="#">งบการเงิน</a></li>
<li><a href="#">- งบดุล</a></li>
<li><a href="#">- งบกำไรขาดทุน</a></li>
<li><a href="#">- งบต้นทุน</a></li>
<li><a href="#">- สถานะผังบัญชี</a></li>
<li><a href="#">- งบทดลอง</a></li>
<li><a href="#">- งบกระแสเงินสด</a></li>
<li><a href="#">- งบกำไรขาดทุนสะสม</a></li>
<li><a href="#">- คำชี้แจงการดำเนินงาน</a></li>

<li><a href="#">รายการอื่นๆ</a></li>
<li><a href="#">- สถานะใบสำคัญ</a></li>
<li><a href="#">- พิมพ์ใบสำคัญ</a></li>
<li><a href="#">- สถานะใบแจ้งหนี้การขาย</a></li>
<li><a href="#">- สถานะใบกำกับภาษีซื้อ</a></li>
<li><a href="#">- รายการโอนเงินใบสำคัญจ่าย</a></li>
<li><a href="#">- เปรียบเทียบบัญชีและสินค้าคงคลัง</a></li>
<li><a href="#">- รายงานยึดตามลูกค้า/ผู้ขาย</a></li>
<li><a href="#">- ประวัติการเปลี่ยนแปลง</a></li>
<li><a href="#">- อัปเดตยอดคงเหลือ</a></li>

<li><a href="#">รายงาน</a></li>