
@code {

}
<li><a href="#">กำไรรายเดือน</a></li>
<li><a href="#">- สร้าง/แก้ไขราคาต้นทุน</a></li>
<li><a href="#">- สถานะต้นทุนมาตรฐาน</a></li>
<li><a href="#">- สถานะต้นทุนจริง</a></li>
<li><a href="#">- การวิเคราะห์ผลต่าง</a></li>
<li><a href="#">- สถานะกำไรรายเดือน</a></li>

<li><a href="#">กำไรรายวัน</a></li>
<li><a href="#">- สถานะต้นทุนรายวัน</a></li>
<li><a href="#">- สถานะกำไรรายวัน</a></li>
