
@code {

}
<li><a href="#">ใบเสนอราคา</a></li>
<li><a href="#">- สร้างใบเสนอราคา</a></li>
<li><a href="#">- รายการใบเสนอราคา</a></li>
<li><a href="#">- สถานะใบเสนอราคา</a></li>
<li><a href="#">- สถานะใบเสนอราคาที่ค้างอยู่</a></li>

<li><a href="#">ใบสั่งขาย</a></li>
<li><a href="#">- สร้างใบสั่งขาย</a></li>
<li><a href="#">- รายการใบสั่งขาย</a></li>
<li><a href="#">- สถานะใบสั่งขาย</a></li>
<li><a href="#">- จัดเตรียมสินค้าก่อนจัดส่ง</a></li>
<li><a href="#">- สถานะใบสั่งขายที่ค้างอยู่</a></li>

<li><a href="#">ใบขาย</a></li>
<li><a href="#">- สร้างใบขาย</a></li>
<li><a href="#">- รายการขาย</a></li>
<li><a href="#">- เปลี่ยนราคาขายเป็นชุด</a></li>
<li><a href="#">- สถานะการขาย</a></li>
<li><a href="#">- สถานะการรับเงิน</a></li>
<li><a href="#">- สถานะส่วนลดการขาย</a></li>
<li><a href="#">- สถานะรอกระทบบัญชี (ขาย)</a></li>
<li><a href="#">- ลูกหนี้ตามลูกค้า</a></li>
<li><a href="#">- พิมพ์เอกสารการขาย</a></li>

<li><a href="#">กระทบบัญชีเป็นชุด (ขาย)</a></li>
<li><a href="#">- กระทบบัญชีเป็นชุด (ขาย)</a></li>
<li><a href="#">- รายการใบแจ้งหนี้การขาย (สินค้าคงคลัง)</a></li>
<li><a href="#">- สถานะใบแจ้งหนี้การขาย</a></li>

<li><a href="#">ใบสั่งส่งสินค้า</a></li>
<li><a href="#">- สร้างใบสั่งส่งสินค้า</a></li>
<li><a href="#">- รายการใบสั่งส่งสินค้า</a></li>
<li><a href="#">- สถานะใบสั่งส่งสินค้า</a></li>
<li><a href="#">- สถานะใบสั่งส่งสินค้าที่ค้างอยู่</a></li>

<li><a href="#">ใบส่งสินค้า</a></li>
<li><a href="#">- สร้างใบส่งสินค้า</a></li>
<li><a href="#">- รายการใบส่งสินค้า</a></li>
<li><a href="#">- สถานะการส่งสินค้า</a></li>