
@code {

}
<li><a href="#">สร้างข้อมูลที่เก็บรวบรวม</a></li>
<li><a href="#">Collected Data</a></li>
<li><a href="#">- Collect Sales Slip</a></li>
<li><a href="#">- Collect Quotation</a></li>
<li><a href="#">- Collect Purchase Order</a></li>
