
@code {

}
<li><a href="#">ตั้งค่า</a></li>
<li><a href="#">- ลงทะเบียนพนักงาน</a></li>
<li><a href="#">- รายได้</a></li>
<li><a href="#">- การหัก</a></li>
<li><a href="#">- กลุ่มรายได้/หัก</a></li>
<li><a href="#">- แผนก</a></li>
<li><a href="#">- โครงการ</a></li>
<li><a href="#">- ลำดับการอนุมัติสำหรับการพิมพ์(จัดการ)</a></li>
<li><a href="#">จัดการบัญชีเงินเดือน</a></li>
<li><a href="#">- บัญชีเงินเดือน</a></li>
<li><a href="#">- เรียกดูบัญชีเงินเดือนตามพนักงาน</a></li>
<li><a href="#">- สถานะบัญชีเงินเดือน</a></li>
<li><a href="#">- สถานะใบบันทึกเวลา</a></li>
